Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Limiter
Flask-Cors
Werkzeug
requests
beautifulsoup4
together
openai
python-dotenv
APScheduler
numpy
ShopifyAPI
WooCommerce
razorpay
scikit-learn
psycopg2-binary
gunicorn
SQLAlchemy
alembic